body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  box-sizing: border-box;
  /* Ensures padding is included in the width */
}

.navbar img {
  margin-left: 10px;
}

.level-selector {
  padding: 20px;
}

.levels-container {
  display: flex;
  gap: 10px;
}