@font-face {
  font-family: "OpenDyslexic";
  src: url("/OpenDyslexic3-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "OpenDyslexic", sans-serif;
  background-image: url(/background.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.game-screen {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: #095179;
  font-family: "OpenDyslexic", sans-serif;
  position: relative;

  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 2em;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
  margin-left: 20px;
}
