html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents scrolling */
}

body {
    background-image: url('/img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: for a fixed background effect */
  }

  #root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
h1{
    color: black;
}

.container {
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-image: url('/img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: for a fixed background effect */
  }